/* Extra CSS for volume sider, since :hover doesn't work on module CSS */

.volume-button {
    margin-left: 16px;
    margin-right: 16px;
}

.volume-button:hover ~ .volume-wrapper {
    opacity: 1;
    display: block;
    animation: fadeIn 0.2s linear;
}

.volume-wrapper:hover {
    opacity: 1;
    display: block;
}

.volume-wrapper {
    opacity: 0;
    display: none;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}