.controls {
    display: flex;
    align-items: center;
    z-index: 9999;
    margin-top: 16px;
    max-width: fit-content;
}

.controls > * {
  z-index: 9999;
}

.iconButton {
    all: unset;
    cursor: pointer !important;
    display: flex;
    align-items: center;

    z-index: 9999;
}

.iconButton > i {
    font-size: 75px;
}

.controls > div > h1, p {
    margin: 0px;
    margin-top: -2px;
}

.controls > div > h1 {
    font-weight: 800;
    line-height: 40px;
}

.controls > div > p {
    opacity: 0.87;
}